*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}
.loader{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    height: 5%;
    width: 5%;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}
.circle:nth-child(1){
    background-color: #41afd7;
    animation-delay: -1.5s;
}
.circle:nth-child(2){
    background-color: #ffd960;
    animation-delay: -1s;
}
.circle:nth-child(3){
    background-color: #d7415d;
    animation-delay: -0.5s;
}
.circle:nth-child(4){
    background-color: #d741d1;
}
@keyframes spin {
    0%{
        transform: translate(0) scale(0);   
    }
    25%{
        transform: translate(200%) scale(1.5);   
    }
    50%{
        transform: translate(200%,200%) scale(0);   
    }
    75%{
        transform: translate(0,200%) scale(1.5);   
    }
    100%{
        transform: translate(0) scale(0);   
    }
}